<ion-header [translucent]="true">
  <ion-toolbar>
    <!--back-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Viajes Realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let aux of usuarios" (click)="VerDetalleUsuario(aux)">
  <!--<img [src]="aux.imagen" alt="{{ aux.nombre }}">-->
    <ion-card-header>
      <ion-card-title>{{ aux.nombre }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>



