.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 250px;
    margin-bottom: 20px;
  }

  ion-spinner {
    color: white;
  }
}
